// CSS reset I
// https://github.com/jgthms/minireset.css
// `https://github.com/jgthms/minireset.css`

// CSS reset II
// <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-default-css@1.0.9/dist/default.min.css" />
// `npm install modern-default-css`
// https://github.com/markmead/modern-default-css

// CSS reset III
// https://github.com/necolas/normalize.css

// CSS reset IV
// https://github.com/hankchizljaw/modern-css-reset

body {
  background: #e2e2e2;
  margin: 0;
  padding: 0;
}
